<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Co2 Emission Model</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        ENGINESIZE : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
        <input name="ENGINESIZE" type="number" placeholder="1.0" step="0.01" min="0" max="10" required>
        <br>
        <br> CYLINDERS : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="CYLINDERS" type="number" placeholder="1.0" step="0.01" min="0" max="10" required>
        <br>
        <br> FUELCONSUMPTION_COMB : &nbsp;
        <input name="FUELCONSUMPTION_COMB" type="number" placeholder="1.0" step="0.01" min="0" max="10" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
    	<br> Co2 Emission:
   		<p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>

</html>