<!DOCTYPE html>
<html lang="en">

<head>
    <title>Co2 Emission Predictor</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Co2 Emission Predictor">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,
		600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>

<body>

    <div>
        <div>
            <div>
                <div>
                    <div>
                        <h1>High Accuracy</h1>
                        <p>We provide the data around Co2 emission and a tool of prediction.</p>
                        <img src="image.jpg" alt="" />
                    </div>
                </div>
                <div class="val_in">
                    <h2>Co2 Emission Predictor</h2>
                    <p>Enter the values</p>
                    <form action="{{ url_for('main') }}" method="post">
                        <label>ENGINESIZE : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;</label>
                        <input name="ENGINESIZE" type="number" placeholder="1.0" step="0.01" min="0" max="10" required>
                        <br>
                        <br>
                        <label>CYLINDERS : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input name="CYLINDERS" type="number" placeholder="1.0" step="0.01" min="0" max="10" required>
                        <br>
                        <br>
                        <label>FUELCONSUMPTION_COMB : &nbsp;</label>
                        <input name="FUELCONSUMPTION_COMB" type="number" placeholder="1.0" step="0.01" min="0" max="10"
                            required>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <button>Submit</button>
                    </form>
                    <br>
                    <br>
                    <div>
                        {% if result %}
                        {% for variable, value in original_input.items() %}
                        <p><b>{{ variable }}</b> : {{ value }}</p>
                        {% endfor %}
                        <br>
                        <br>
                        <p>Co2 Emission : {{ result }}</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        <div>
            <p>&copy; 2019 Co2 Emission Predictor. All Rights Reserved | Designed by </p>
        </div>
    </div>

</body>

=======
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Co2 Emission Predictor</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Co2 Emission Predictor">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="style.css" rel="stylesheet" type="text/css" media="all" />
    <link
        href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

</head>

<body>

    <div class="valueform">.
        <div class="container">
            <div class="agile_info">
                <div class="val_form">
                    <div class="left_grid_info">
                        <h1>High Accuracy</h1>
                        <p>We provide the data around Co2 emission and a tool of prediction.</p>
                        <img src="image.jpg" alt="" />
                    </div>
                </div>
                <div class="val_in">
                    <h2>Co2 Emission Predictor</h2>
                    <p>Enter the values</p>
                    <form action="{{ url_for('main') }}" method="post">
                        <label>ENGINESIZE : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;</label>
                        <input name="ENGINESIZE" type="number" placeholder="1.0" step="0.01" min="0" max="10" required>
                        <br>
                        <br>
                        <label>CYLINDERS : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input name="CYLINDERS" type="number" placeholder="1.0" step="0.01" min="0" max="10" required>
                        <br>
                        <br>
                        <label>FUELCONSUMPTION_COMB : &nbsp;</label>
                        <input name="FUELCONSUMPTION_COMB" type="number" placeholder="1.0" step="0.01" min="0" max="10"
                            required>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <button class="btn btn-danger btn-block" type="submit">Submit</button>
                    </form>
                    <br>
                    <br>
                    <div class="result" align="center">
                        {% if result %}
                        {% for variable, value in original_input.items() %}
                        <p><b>{{ variable }}</b> : {{ value }}</p>
                        {% endfor %}
                        <br>
                        <br>
                        <p>Co2 Emission : {{ result }}</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2019 Co2 Emission Predictor. All Rights Reserved | Designed by Aditya and Tamanna</p>
        </div>
    </div>

</body>

</html>